//
//  Config.xcconfig
//  Fleksy
//
//  Created by John Engelhart on 3/27/13.
//  Copyright (c) 2012 Syntellia Inc. All rights reserved.
//

FL_BUILDUTIL_DIR = BuildUtil
FL_BUILD_INFO_FILE = ${FL_BUILDUTIL_DIR}/BuildInfo.xcconfig
FL_TESTFLIGHT_BUILDINFO_SCRIPT = ${FL_BUILDUTIL_DIR}/BuildInfo.sh
FL_TESTFLIGHT_PREBUILD_SCRIPT = ${FL_BUILDUTIL_DIR}/TestFlightPrebuild.sh
FL_TESTFLIGHT_UPLOAD_SCRIPT = ${FL_BUILDUTIL_DIR}/TestFlightUploader.sh

API_TOKEN = 033f405995695e83a5d0af0fb0f7272b_OTg1MzU1MjAxMy0wNC0xMSAxMjo1NDoyNy41MTcxMzI
TF_TEAM_TOKEN = 5c5d948af992dfdf9945d188ad91e8df_OTc5NjAyMDEyLTA2LTA3IDE4OjA1OjU1LjMyNTcxNQ

TF_DISTRIBUTION_LISTS = "Dev team"
TF_DISTRIBUTION_LISTS_DEFAULT_SELECTION = "Dev team"
TF_DEFAULT_NOTIFY_VALUE="True"
TF_SKIP_DISTRIBUTION_LISTS="YES"
TF_SKIP_NOTIFY="YES"

GIT_REVISION_START=85
